aniso8601==8.0.0
bson==0.5.10
click==7.1.2
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.6.0
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
gunicorn==20.0.4
flask-mongoengine-0.9.5

version: '3.7'
services:
  client:
    build:
      context: ./http/web/client
      dockerfile: Dockerfile
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./http/web/client:/client
      - /client/node_modules
    networks:
      - client
  mongo:
    image: mongo
    container_name: mongo
    restart: unless-stopped
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: "nk94"
      MONGO_INITDB_ROOT_PASSWORD: "luneczka"
      MONGO_INITDB_DATABASE: geomap
      MONGODB_DATA_DIR: /data/db
    volumes:
      - mongodbdata:/data/db
    networks:
      - api
    ports:
      - "27017:27017"
  api:
    build:
      context: ./http/api
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:5000 api:app
    ports:
      - "5000:5000"
    environment:
      MONGODB_HOST: mongo
      MONGODB_USERNAME: "nk92"
      MONGODB_PASSWORD: "luneczka"
    depends_on:
      - mongo
    networks:
      - client
      - api
networks:
    client:
      driver: bridge
    api:
      driver: bridge
volumes:
  mongodbdata:
    driver: local

